//Variables

//Primary Colours
$primary-text-color: #231b10;
$primary-interactive-color: #ebc455;
$primary-background-color: #faf9e9;
$primary-element-background-color: #978f47;

//Secondary Colours
$secondary-text-color: #837b34;
$secondary-border-color: #897e6b;
$secondary-background-hover-color: #584c26;

//Supporting Colours

//Breakpoints
$tablet-width: 768px;
$desktop-width: 1280px;