@use '../../styles/mixins' as *;
@use '../../styles/variables';

//Shop Styling

.shop {
    background-color: variables.$primary-background-color;

    .hero {
        background-color: variables.$primary-element-background-color;
        padding: 1rem 0;
        margin-bottom: 1rem;

        h1 {
            color: variables.$primary-background-color;
            margin: 0 1rem;
            text-align: left;
        }

        p {
            color: variables.$primary-background-color;
            margin-top: .5rem;
        }
    }

    .merch {
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        padding-top: 1rem;
        border-top: 2px solid variables.$primary-text-color;
        margin: 0 1rem 0 1rem;

        .card {
            display: flex;
            background-color: variables.$primary-element-background-color;
            height: 12rem;
            width: 10rem;
            margin-bottom: 2rem;
        }
    }
    @include tablet {

        .hero {
            padding: 4rem 0;
            
            h1 {
                margin-left: 5.5rem;
                
            }
    
            p {
                text-align: left;
                margin-left: 5.5rem;
            }
        }
    
        .merch {
            margin: 0 3rem 0 3rem;
            flex-direction: row;
            justify-content: space-around;
            padding-top: 2rem;
            .card {
            }
        }
    }
    

    @include desktop {

        .hero {
            padding: 7rem 0;
            margin: 3rem 4rem;
            
            h1 {
                margin-left: 5.5rem;
                
            }
    
            p {
                text-align: left;
                margin-left: 5.5rem;
            }
        }
    
        .merch {
            margin: 0 3rem 0 3rem;
            flex-direction: row;
            justify-content: space-around;
            padding-top: 2rem;
            margin: 0 5rem 0 5rem;


            .card {
            }
        }    }

}