@use '../../styles/mixins' as *;
@use '../../styles/variables';

//UserProfile Styling

.userProfile {
    background-color: variables.$primary-background-color;

    .user__wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 2rem 0 2rem;
        padding-bottom: 2rem;

        h1 {
            color: variables.$primary-text-color;
            text-align: left;
            margin-bottom: .5rem;
        }

        .user__info--wrap {

            .user__img {
                background-color: variables.$primary-element-background-color;
                height: 12rem;
                width: 12rem;
                align-self: center;
                border-radius: 5px;
    
            }
    
            .user__info {
                display: flex;
                flex-direction: column;
                text-align: left;
                background-color: variables.$primary-element-background-color;
                margin-top: 1rem;
                border-radius: 5px;
    
    
    
                p {
                    width: 100%;
                    color: variables.$primary-background-color;
                    margin: .5rem;
    
                }
            }
            }
    }

    .data__wrap {
        display: flex;
        flex-direction: column;
        margin: 0 2rem 0 2rem;
        padding-bottom: 2rem;

        .tracker__dropdown {

            select {
                padding: .75rem 2rem;
                color: variables.$primary-text-color;
                background-color: variables.$primary-background-color;
                border: 3px solid variables.$primary-element-background-color;
                width: 12rem;

            }
        }

        // .data__button {
        //     margin-top: 1rem;
        //     padding: .5rem 1rem;
        //     border-radius: 22px;
        //     font-weight: bold;
        //     color: variables.$primary-background-color;
        //     background-color: variables.$primary-element-background-color;
        //     text-transform: uppercase;
        // }
        
        // .data__visualizer {
        //     display: none;
        // }
    }
    @include tablet {
        .user__wrap {
    
            h1 {
                margin-left: 1.5rem;
                font-size: 40px;
            }

            .user__info--wrap {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                
                .user__img {
                    margin: 1rem 2rem 0 0;
                }
        
                .user__info {    
                    margin: 2rem 1.5rem 0 0;
                    width: 50%;
                    height: 50%;
                    margin-left: 1rem;


                    p {
                        width: 100%;
                    }
                }
                }
    
    
        }
    
        .data__wrap {
            display: flex;
            flex-direction: row-reverse;
            margin: 0 2rem;

            .action__wrap {
                display: flex;
                justify-content: space-between;
                margin: 0 2rem 0 2rem;
                align-content: center;

                .tracker__dropdown {
                    height: 1.5rem;

                    select {
                        width: 12rem;
                    }

            
                }
        
                .data__button {
                    margin-top: 0;
                    width: 12rem;
                }
    
            }
    
            
            .data__visualizer {
                display: flex;
                background-color: variables.$primary-element-background-color;
                margin-left: 1rem; 
                height: 15rem;  
                border-radius: 5px;
                color: variables.$primary-background-color;
                justify-content: center;
                width: 100%;

                .chart {
                    display: flex;
                    background-color: variables.$primary-background-color;
                    margin: 1rem;
                    padding: 3.5rem 1rem 1rem 1rem;
                    justify-content: center;
                    width: 100%;
                    
                }
            }
        }
    }

    @include desktop {
        padding: 0 4rem;

        .user__wrap {
            margin-top:1rem;
    
            h1 {
            }

            .user__info--wrap {
                justify-content: space-between;
                
                .user__img {

                }
        
                .user__info {    
                    margin: 0 1rem 0 1rem;
                    width: 65%;
                    height: 12rem;
                    justify-content: center;

                    p {
                        margin-left: 2rem;
                    }
                }
                }
    
    
        }
    }
}