@use '../../styles/mixins' as *;
@use '../../styles/variables';

//Headernav Styling

nav {
    display: flex;
    background-color: variables.$primary-element-background-color;
    height: 4.5rem;
    align-items: center;

    .logo {
        height: 5rem;
        width: 4rem;
        position: absolute;
        right: 6.3rem;
        margin-top: 1rem;
    }
    
    .header_nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0;

        li {
            text-decoration: none;
            list-style: none;
            color: variables.$primary-background-color;
            font-weight: bold;
            font-size: 15px;
            margin: 0 2rem 0 2rem;
        }
    }
}